.container {
    min-width: 600px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.raw-times {
    max-height: 500px;
    overflow: auto;
}