.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 470px;
  max-height: 100%;
  min-height: 171px;
}
  
.header {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 8px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
  flex-grow: 1;
}

.selection-header {
  font-size: 18px;
  background: rgba(255, 64, 129, 0.3);
  border-bottom: 1px solid #d696ac;
}

.mat-table {
  overflow: auto;
  max-height: 75%;
}

.spinner {
  margin: 1em auto;
}

mat-cell, mat-header-cell {
  white-space: nowrap !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 14ch;
  padding-left: 4px;
  padding-right: 4px;
  color: inherit;
}

mat-row:nth-child(even) {
  background-color: white;
  color: black !important;
}

mat-row:nth-child(odd) {
  background-color: black;
  color: white !important;
}

mat-row.alternate-even-odd:nth-child(even) {
  background-color: black;
  color: white !important;
}

mat-row.alternate-even-odd:nth-child(odd) {
  background-color: white;
  color: black !important;
}

.police {
  margin-left: 1%;
}

/* -------- Fix for columns alignment -------- */
.mat-table {
  display: table;
  width: 100%;
}
.mat-table > .mat-header-row, .mat-table > .mat-row {
  display: table-row;
  padding: 20px;
  border: none;
}
.mat-table > .mat-header-row > .mat-header-cell, .mat-table > .mat-header-row > .mat-cell, .mat-table > .mat-row > .mat-header-cell, .mat-table > .mat-row > .mat-cell {
  display: table-cell;
  margin-left: 30px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
/* ------------------------------------------- */

/* Centered checkboxes */
.checkbox-container {
  min-width: 50px;
  display: flex;
  justify-content: center;
}

.table-container {
  overflow: auto;
  max-width: 100%;
  flex-grow: 1;
}
 
/* Compact rows */
mat-row, mat-header-row {
  height: 35px;
}

.grow {
  flex-grow: 1;
}

.no-grow {
  flex-grow: 0;
}

mat-form-field i {
  margin-right: 0.6em;
}

.suffix-button {
  cursor: pointer;
}
 

