.flex-col {
  display: flex;
  flex-direction: column;
}

.no-shrink {
  flex-shrink: 0;
}

.data-table-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.excel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1em;
}

app-download-excel-file {
  margin-right: 0.5em;
}